/* The Body */
body {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-content: center;
    background-image: url(/images/serene_dawn_gradient-full.jpg);
    background-size: cover;
    background-position: center;

}

h1,h2 {
    margin: 0;
    padding: 0;
    color: rgb(233, 35, 9);
    text-decoration: underline;
}
strong {
    color:rgba(235, 8, 8, 0.616);
    background: #f4f4f4;
    border-radius: 2px;
}
* {
    box-sizing: border-box;
    list-style: none;
    line-height: 1.5;
    text-decoration: none;
}
/* The Header */
header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}
/* The Navigation Bar */
nav {
    background-image: url(/images/serene_dawn_gradient-full.jpg);
    background-size: cover;
    background-position: center;
    color: rgb(192, 163, 32);
    padding: 10px;
    text-align: end;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    align-content: flex-start;
    gap: 10px;
    flex-direction: column;
    margin: 10px;
}
nav a {    color:rgb(218, 68, 23);
    margin: 10px;
    gap: 10px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: inline-block;
}
nav ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    flex: 1 auto 1;
}
nav a:hover {
    background-color: #777;
}
/* The Main Content */
main {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

section {
    background-image: url(/images/forest-full.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid black;
    color: rgb(240, 232, 227);
    width: 100%;
    box-sizing: border-box;
    animation-play-state: running;
}
.background {
    background-color: #333;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid black;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    justify-content: center;
}
.background p, .edu p, .edu ul, .lang ul, .skills ul ,.leader ul {
    margin: 0;
    padding: 0;
    background-color: #777;
    padding: 10px;
    border-radius: 5px;
}
footer {
    background-image: url(/images/serene_dawn_gradient-full.jpg);
    background-size: cover;
    background-position: center;
    color: rgb(41, 20, 20);
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: last baseline;
    gap: 10px;
    align-content: baseline;
    border-radius: 5px;
    box-sizing: border-box;
}
.social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social-media ul {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.social-media li {
    margin: 0;
    padding: 0;
}

.social-media a {
    color: rgb(31, 23, 23);
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    border: 2px solid black;
    display: inline-block;
    box-sizing: border-box;
}

.social-media a:hover {
    background-color: #777;
}
.navigation-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
.navigation-footer ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    color: rgb(161, 27, 9);
    max-width: 400px;
    margin: 20px;
   padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-image: url(/images/stock.jpg);
    background-size: cover;
    background-position: center;
}
.contact-form label {
    font-weight: bold;
}
.contact-form input, .contact-form textarea {
    padding: 10px;
     border-radius: 5px;
     border: 2px solid rgb(161, 27, 9);
     width: 100%;
     box-sizing: border-box;
}
.contact-footer {
    background-image: url(/images/serene_dawn_gradient-full.jpg);
    background-size: cover;
    background-position: center;
    color: rgb(218, 18, 18);
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: last baseline;
    gap: 10px;
    align-content: baseline;
    border-radius: 5px;
    box-sizing: border-box;
    flex: 1 auto 1;
}
.contact-footer ul {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.contact-footer li {
    margin: 0;
    padding: 0;
}
.contact-footer a {    color: rgb(218, 18, 18);
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    border: 2px solid black;
    display: inline-block;
    box-sizing: border-box;
}
.contact-footer a:hover {
    background-color: #777;
}
.details {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: rgb(161, 27, 9);
}   
.details a{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.details a {
    color: rgb(161, 27, 9);
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    border: 2px solid black;
    display: inline-block;
    box-sizing: border-box;
}
.intro {
    display: flex;
    flex-direction: row;
    justify-content: first baseline;
    gap: 10px;
    color: rgb(161, 27, 9);

}

.intro p, .intro2 p {
    background-color: #777;
    padding: 10px;
    border-radius: 5px;
}
.intro2 {
    color: rgb(30, 42, 207);
    text-decoration: none;
    word-spacing: 0cqmin1.5;
    text-align: justify;
    text-transform: sentence-case;
}

.profile-image {
    display: block;
    align-content: end;
    align-content: flex-end;
    flex-shrink: 0;
    width: 300px;
    height: 600px;
    border-radius: 15px;
    object-fit: cover;
    border: 2px solid black;
    background-image: url(/images/desk.jpg);
    background-size: cover;
    background-position: center;
}